# Common junk (always ignore)
.idea/
.pytest_cache/
dist/
zacrostools.egg-info/
.DS_Store

# Ignore everything by default
*

# Allow key top-level files
!.gitignore
!CHANGELOG.md
!LICENSE
!README.md
!requirements.txt
!setup.cfg
!setup.py
!.readthedocs.yaml

# Allow these directories and all subdirs
!docs/
!examples/
!tests/
!zacrostools/
!docs/**/
!examples/**/
!tests/**/
!zacrostools/**/

# Track these file types recursively
!docs/**/*.{py,txt,dat,md,png,pdf,csv,yml}
!examples/**/*.{py,txt,dat,md,png,pdf,csv,yml}
!tests/**/*.{py,txt,dat,md,png,pdf,csv,yml}
!zacrostools/**/*.{py,txt,dat,md,png,pdf,csv,yml}